 h1{
 color: red;
 background: yellow;
}
 h2{
 color: rgb(236, 237, 236);
}
 h3{
 color:rgb(230, 228, 172);
}
 p{
 font: weight 900px; ;
 color:rgb(218, 224, 208);
}
 ul{
 color:cyan;
} 
img{
    border:solid 10px rgb(208, 255, 0);
}
body
{
  margin: 20px;
   padding: 20px;
   background-image: url('background.png');
}
div{
    border-width: 100px;
    border-color: rgb(203, 200, 197);
    border-style: inherit;
}
.hello{
    border: 5px;
    color: white;
    background-color: red;
}
select{
    border:5px solid red;
}
#collection{
    color: azure;
}
input{
    border: 5px inset red;
}


  
